red = hsl(0, 100%, 74%)
green = hsl(154, 59%, 51%)
blue = hsl(248, 32%, 49%)
darkBlue = hsl(249, 10%, 26%)
grayishBlue = hsl(246, 25%, 77%)

fontSize = 1.6rem

fwThin = 400
fwNormal = 500
fwSemiBold = 600
fwBold = 700

ffPrimary = 'Poppins', sans-serif